<h1>Add Booth</h1>
<form action="/booths/add" method="POST">
    <div class="mb-3">
        <label for="annName" class="form-label">Number</label>
        <input name="number" type="number" class="form-control" id="annNumber" placeholder="Booth Number">
    </div>
    <div class="mb-3">
        <label for="annName" class="form-label">Name</label>
        <input name="name" type="text" class="form-control" id="annName" placeholder="Booth Name">
    </div>
    <button type="submit">Add</button>
</form>