<div class="blue-card v-centered-absolute">
    <p class="form-modal-header">Resend Activation Token</p>
    <div class="row">
        <div class="col-lg-12">
            <input type="email" name="email" class="form-control" id="fpEmail" aria-describedby="fpEmail" placeholder="Email" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 d-none" id="register-alert">
            <div class="alert alert-danger" role="alert">
            </div>
        </div>
        <div class="col-lg-12">
            <input type="text" name="name" class="form-control" id="fpName" aria-describedby="fpName" placeholder="Full Name" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" name="phone" class="form-control" id="fpPhone" aria-describedby="fpPhone" placeholder="Phone Number" required>
        </div>
    </div>
    <br>
    <div class="alert alert-danger" role="alert" id="error-alert">
        
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button class="btn-white-medium btn-smaller-text" onClick="resendToken()">RESEND TOKEN</button>
    </div>
</div>
<script>
$('#error-alert').css('display', 'none');

function resendToken() {
    fetch('/forgotpassword/resend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: $('#fpEmail').val(),
                name: $('#fpName').val(),
                phone: $('#fpPhone').val()
            })
        })
        .then(response => response.json())
        .then(data => {
            if (!data.error) {
                window.location.href = '/message/green/3';
            } else {
                throw new Error(data.message);
            }
        })
        .catch(error => {
            $('#error-alert').css('display', 'block');
            $('#error-alert').html(error.message);
        })
}
</script>