<section id="home-section">
    <img id="homesection-logo" src="svg/homesection.svg" alt="">
    <ul id="homesection-desc">
      <li>Welcome to</li>
      <li><b>Nextworld</b></li>
      <li><b>Virtual 360 event</b></li>
      <li>Synnex Metrodata Indonesia</li>
    </ul>
</section>
<section id="highlight-section">
  
</section>