<iframe
  src="http://widget.lai4d.org/lai4d_viewer.html?{{file}{artwork/paperairplane.txt}{view}{{type}{view}{projection}{perspective}{orientation}{{-150.3928346772768}{55.17696308158675}{1.0628542788904753}}{point}{{-6.009874707412184}{13.949199877915973}{6.881229197957248}}{zoom}{28.783202793841753}{target}{-13.17790536162189}{far light direction}{{1}{-1}{-3}}{far light factor}{0.7}}}"
  frameborder="0"
  style="width: 100vw; height: 100vh; position: absolute"
></iframe>
<div class="container-fluid">
  <img
    class="position-absolute top-50 start-0 translate-middle"
    style="width: 60px; cursor: pointer; margin-left: 25px"
    src="./img/landing/right-arrow.png"
    id="left-card-show"
    alt=""
  />
  <img
    class="position-absolute top-50 end-0 translate-middle"
    style="width: 60px; cursor: pointer; margin-right: -35px"
    src="./img/landing/left-arrow.png"
    id="right-card-show"
    alt=""
  />
  <div class="position-fixed top-50 start-0 translate-middle-y" id="left-card">
    <div class="card p-2">
      <a id="leftmenu" class="left-arrow" href="#">
        <img src="./img/landing/left-arrow.png" alt="" />
      </a>

      <div class="card-content">
        <img class="logo" src="./img/Logo.png" style="width: 160px" />
        <div class="card-header">
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/stadium.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="fs-6 fw-bolder">BYGE ARENA</p>
          </div>
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/barrier.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="fs-6 fw-bolder">BYGE EXPO</p>
          </div>
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/prize.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="fs-6 fw-bolder">WIN PRIZES</p>
          </div>
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/information.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="fs-6 fw-bolder">EVENT INFO</p>
          </div>
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/hot-sale.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="fs-6 fw-bolder">SPECIAL DEAL</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-fixed top-50 end-0 translate-middle-y" id="right-card">
    <div class="card p-4">
      <a id="rightmenu" class="right-arrow" href="#">
        <img src="./img/landing/right-arrow.png" alt="" />
      </a>
      <div class="name-list leaderboard">
        <h1>Leaderboard</h1>
        <ol>
          <li>
            <div>
              <p>Rocketman</p>
              <span>1000</span>
            </div>
          </li>
          <li>
            <div>
              <p>SPIDERTRON</p>
              <span>890</span>
            </div>
          </li>
          <li>
            <div>
              <p>VOXCON</p>
              <span>780</span>
            </div>
          </li>
          <li>
            <div>
              <p>PANGKO</p>
              <span>670</span>
            </div>
          </li>
          <li>
            <div>
              <p>EXHIBITOR</p>
              <span>650</span>
            </div>
          </li>
        </ol>
      </div>
      <button class="view-btn">view all</button>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    if ($(window).width() <= 731) {
      $("#right-card").hide();
      $("#right-card-show").hide();
      $("#leftmenu").click(function () {
        $("#left-card").fadeOut(1000);
        $("#right-card-show").show();
      });
      $("#rightmenu").click(function () {
        $("#right-card").fadeOut(1000);
        $("#left-card-show").show();
      });
      $("#left-card-show").click(function () {
        $("#left-card").fadeIn(500);
        $("#right-card-show").hide();
      });
      $("#right-card-show").click(function () {
        $("#right-card").fadeIn(500);
        $("#left-card-show").hide();
      });
    } else {
      $("#leftmenu").click(function () {
        $("#left-card").fadeOut(1000);
      });
      $("#rightmenu").click(function () {
        $("#right-card").fadeOut(1000);
      });
      $("#left-card-show").click(function () {
        $("#left-card").fadeIn(500);
      });
      $("#right-card-show").click(function () {
        $("#right-card").fadeIn(500);
      });
    }
  });
</script>

<style>
  /* body,
  html {
    height: 100% !important;
  } */
  .container-fluid {
    /* background-image: url("./img/background-2.png"); */
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left-arrow {
    position: absolute;
    top: 45%;
    left: 95%;
  }
  .right-arrow {
    position: absolute;
    top: 45%;
    right: 95%;
  }

  .logo {
    position: absolute;
    margin-top: -100px;
  }
  .card {
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
    position: relative;
    width: 350px;
  }
  .card-header {
    text-align: center;
    margin-top: 30px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid #b7025f;
    box-sizing: border-box;
    cursor: pointer;
  }
  .menu:last-child {
    border: none;
  }
  .menu p {
    color: #01cdf2;
    margin-top: 15px;
    margin-left: 20px;
  }
  .leaderboard h1 {
    font-size: 32px;
    -webkit-text-stroke: 2px #ff6db8;
    text-shadow: 0px 0px 10px #b7025f, 0px 0px 10px #b7025f,
      0px 0px 10px #b7025f;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }
  .name-list {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  .name-list ol li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 36px; */
    padding-right: 36px;
  }
  li {
    list-style-type: decimal;
  }
  ol {
    margin-top: 44px;
    margin-bottom: 34px;
  }
  .view-btn {
    background: transparent;
    /* width: 342px; */
    height: 72px;
    color: #01cdf2;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #b7025f;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .view-btn:hover {
    background-color: #b7025f;
    transition: all 0.3s;
  }
</style>
