<div class="container-fluid">
  <div
    class="card text-center position-absolute top-50 start-50 translate-middle"
  >
    <div class="card-body">
      <img
        class="position-absolute top-0 start-50 translate-middle"
        style="width: 45%; margin-top: 5px"
        src="./img/Logo.png"
      />
      <div class="card-header">
        <h5>Welcome To</h5>
        <h4>BYGE 2021</h4>
      </div>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Full Name"
      />
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Email"
      />
      <div class="d-grid gap-2 mb-4">
        <button type="button" class="btn login-btn d-grid">Login</button>
      </div>
      <p class="option"><span>Or</span></p>
      <div class="d-grid gap-2">
        <a class="btn fb-login btn-lg btn-block" href="#">
          <img width="30" src="./img/facebook-icon.png" />
          Continue with Facebook
        </a>
        <a class="btn google-login btn-lg btn-block" href="#">
          <img width="30" src="./img/google-icon.png" />
          Continue with Google
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .container-fluid {
    background-image: url("./img/login-background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .card {
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
    position: relative;
    padding: 10px;
  }
  .card-header {
    margin-top: 50px;
  }
  .card-header h4 {
    color: white;
    font-weight: 700;
  }
  .card-header h5 {
    color: #c99eb4;
    font-weight: 400;
  }
  input {
    margin-top: 10px;
    border: none;
    border-radius: 8px;
  }
  .login-btn {
    background: #01a4c2;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    height: 40px;
    align-items: center;
  }
  .login-btn:hover {
    color: white;
  }
  .option {
    color: white;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    line-height: 0.1em;
  }
  .option span {
    background: rgba(0, 0, 0, 0.8);
    padding-left: 5px;
    padding-right: 5px;
  }

  .fb-login {
    background: #4769b0;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
  }
  .google-login {
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 2px;
  }
  a img {
    width: 25px;
    margin-right: 10px;
  }

  .card {
    width: 23rem;
  }

  @media (max-width: 414px) {
    .card {
      width: 90%;
    }
    .fb-login {
      background: #4769b0;
      box-sizing: border-box;
      border-radius: 8px;
      color: white;
      font-size: 10px;
      font-weight: 700;
      padding: 10px;
      margin-top: 10px;
    }
    .google-login {
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 8px;
      font-size: 10px;
      font-weight: 700;
      align-items: center;
      padding-top: 10px;
      padding-left: 5px;
      margin-top: 2px;
    }
  }
</style>
