<iframe src="3d/index.html" frameborder="0" style="width:100vw;height:100vh;"></iframe>
<!-- Button trigger modal -->
<div id="virtualui">
    <nav id="logolinkNav">
        <div class="d-flex flex-column">
            <a href="#">
                <div id="receptionist-nav" class="nav-item">
                    <img src="/svg/receptionisticon.svg" alt="">
                    <div class="text-center">Receptionist</div>
                </div>
            </a>
            <div class="horizontal-separator"></div>
            <a data-bs-toggle="offcanvas" href="#sideNavOffCanvas" role="button" aria-controls="sideNavOffCanvas">
                <div id="exhibitor-nav" class="nav-item">
                    <img src="/svg/exhibitoricon.svg" alt="">
                    <div class="text-center">Exhibition Booth</div>
                </div>
            </a>
            <div class="horizontal-separator"></div>
            <a href="#">
                <div id="exhibitor-nav" class="nav-item">
                    <img src="/svg/flooricon.svg" alt="">
                    <div class="text-center">Floor Plan</div>
                </div>
            </a>
        </div>
    </nav>
    <div id="profileNav">
        <div id="profile-bar" class="d-flex flex-row">
            <a href="#" onClick="muteSite()">
                <img id="muteImg" src="/svg/speakersvg.svg">
            </a>
            <div class="separator"></div>
            <a href="#" data-bs-toggle="modal" data-bs-target="#briefcaseModal" onClick="loadBriefcase()">
                <img src="/svg/briefcaseicon.svg" alt="">
            </a>
        </div>
        <div class="profile-photo">
            <img src="/svg/profileexample.svg" width="50px">
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="introModal" tabindex="-1" aria-labelledby="introModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <button id="skipintro-button" class="elips-button mb-3" onClick="skipIntro()">
                    SKIP INTRO
                </button>
                <video id="an-video" width="99%" height="99%" autoplay="autoplay" controls muted>
                    <source src="/video/FINAL_RENDER_OPENING_MUSIC.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="briefcaseModal" tabindex="-1" aria-labelledby="briefcaseModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div id="briefcase-profile">
                    <div class="d-flex flex-row">
                        <div class="profile-photo">
                            <img src="/svg/profileexample.svg" alt="">
                        </div>
                        <div class="profile-text">
                            <div class="profile-name big-title">Mufti Abdila</div>
                            <div class="profile-signout"><a href="#"><span data-feather="log-out"></span>Sign Out</a></div>
                        </div>
                    </div>
                </div>
                <div id="briefcase-title" class="big-title">My Briefcase</div>
                <br>
                <div class="row" id="briefcase-rows">
                    <!--
                    <div class="col-lg-3">
                        <div class="briefcase-card">
                            <img src="/svg/briefcaseexample.svg" alt="">
                            <div class="briefcase-desc">
                                <div class="briefcase-text"><a href="#"><span data-feather="image"></span>No Wire. No limit.</a></div>
                                <div class="briefcase-text"><a href="#" download><span data-feather="download"></span>Download</a></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="singlefileVideoModal" tabindex="-1" aria-labelledby="singlefileVideoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">VIDEOS</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button-sfv" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <video id="an-video" width="100%" controls>
                    <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="singlefileImageModal" tabindex="-1" aria-labelledby="singlefileImageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">VIDEOS</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button-sfi" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <img id="an-img" src="" alt="">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">PDF</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button-pdf" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <embed id="pdf-embed" src="" type="application/pdf" width="100%" height="500px">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sliderModal" tabindex="-1" aria-labelledby="sliderModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">SLIDER</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="sliderCarousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
                    <div class="carousel-inner">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="feedbackFormModal" tabindex="-1" aria-labelledby="feedbackFormModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <p class="thick-title">Feedback Form</p>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <input type="text" name="occupation" class="form-control" id="feedbackCompany" aria-describedby="feedbackCompany" placeholder="* Company" required>
                    </div>
                    <div class="col-lg-6 col-12">
                        <input type="text" name="city" class="form-control" id="feedbackCity" aria-describedby="feedbackCity" placeholder="* City" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea maxlength="1000" rows="4" name="message" class="form-control" id="feedbackMessage" aria-describedby="feedbackMessage" placeholder="* Write your message here" required></textarea>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center mt-5">
                    <button onClick="sendFeedback()" class="btn-white-medium" type="submit">SUBMIT</button>
                </div>
                <input type="hidden" name="boothid" id="boothid">
            </div>
        </div>
    </div>
</div>
<!--Modal ENDS-->
<!--Offcanvas-->
<!--
<div class="offcanvas offcanvas-start" tabindex="-1" id="sideNavOffCanvas" aria-labelledby="sideNavOffCanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sideNavOffCanvasLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
-->
<!--Offcanvas Ends-->
<!--Alerts-->
<div id="alert-success" class="virtual-alert alert alert-success alert-dismissible fade show" role="alert">
    <strong>Briefcase Added!</strong>
    <button type="button" class="btn-close" onClick="alertClose('success')"></button>
</div>
<div id="alert-warning" class="virtual-alert alert alert-warning alert-dismissible fade show" role="alert">
    <strong>This briefcase is added before.</strong>
    <button type="button" class="btn-close" onClick="alertClose('warning')"></button>
</div>
<script src="js/globalscript.js"></script>
<script>
let briefCaseArr = [];
let fileAddr = '<% fileAddr %>';

window.isMuted = false;

function muteSite() {

    document.querySelectorAll("video, audio").forEach((elem) => {

        if (!isMuted) {
            elem.muted = true;
            $('#muteImg').attr('src', '/svg/mutedsound.svg')

        } else {

            if (elem.muted) {
                elem.muted = false;
                $('#muteImg').attr('src', '/svg/speakersvg.svg')
            }

        }
    });

    isMuted = !isMuted;

};

function alertClose(al) {
    switch (al) {
        case 'success':
            $('#alert-success').css('opacity', '0');
            $('#alert-success').css('display', 'none');
            break;
        case 'warning':
            $('#alert-warning').css('opacity', '0');
            $('#alert-warning').css('display', 'none');
            break;
    }
}

function renderBriefcase(briefcase) {
    $('#briefcaseModal #briefcase-rows').html('')
    briefcase.forEach(bc => {
        let addr = fileAddr + '/uploads/' + bc.file;
        const extensionRegex = /(?:\.([^.]+))?$/;
        let getExt = extensionRegex.exec(bc.file)[1].toLowerCase();
        let fileThumbnail = '';
        switch (getExt) {
            case 'pdf':
                fileThumbnail = `<img src="/img/pdfthumb.png" alt="">`;
                break;
            case 'mp4' || 'wav' || 'mov' || 'avi' || 'wmv' || 'webm' || 'mp2' || 'mpg' || 'mpeg' || 'mpv' || 'mpe' || 'm4p' || 'm4v':
                fileThumbnail = `<img src="/img/videothumbnail.png" alt="">`;
                break;
            case 'png' || 'jpg' || 'jpeg' || 'gif' || 'tif' || 'tiff' || 'bmp' || 'eps' || 'jfif':
                fileThumbnail = `<img src="${addr}" alt="">`;
                break;
            default:
                fileThumbnail = `<img src="${addr}" alt="">`;
                break;
        }
        $('#briefcaseModal #briefcase-rows').append(`<div class="col-lg-3"><div class="briefcase-card">${fileThumbnail}<div class="briefcase-desc"><div class="briefcase-text"><a href="#"><span data-feather="image"></span>${bc.name}</a></div><div class="briefcase-text"><a href="${addr}" download><span data-feather="download"></span>Download</a></div></div></div></div>`)
        feather.replace()
    })
}

function loadBriefcase() {
    fetch('/virtual/getbriefcase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('synnex-jwt')
            },
            body: JSON.stringify({
                email: localStorage.getItem('synnex-user'),
            })
        })
        .then(response => response.json())
        .then(data => {
            briefCaseArr = data[0].briefcase;
            renderBriefcase(briefCaseArr)
        })
        .catch(err => console.log(err))
}

const introModal = new bootstrap.Modal(document.getElementById('introModal'));
const sfvModal = new bootstrap.Modal(document.getElementById('singlefileVideoModal'));
const sfiModal = new bootstrap.Modal(document.getElementById('singlefileImageModal'));
const pdfModal = new bootstrap.Modal(document.getElementById('pdfModal'));
const sliderModal = new bootstrap.Modal(document.getElementById('sliderModal'));
const feedbackFormModal = new bootstrap.Modal(document.getElementById('feedbackFormModal'));

if(!localStorage.getItem('synnex-watched-intro')){
    introModal.show();
}

function getData(booth, annotation, cb) {
    fetch('/virtual/getAnnotation/' + booth + '/' + annotation, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('synnex-jwt')
            }
        })
        .then(response => response.json())
        .then(data => {
            cb(data)
        })
        .catch(err => console.log(err))
}

function showAnn(an) {
    let parsedArr = an.split('_');
    let booth = parsedArr[0];
    let annotation = parsedArr[1];

    getData(booth, annotation, (data) => {
        let dataInfo = data[0].content.type;
        let parsedData = dataInfo.split('/');
        let dataType = parsedData[0];

        let dataFile = data[0].content.filename;
        let annName = data[0].name;
        let dataBoothid = data[0].boothid;
        switch (dataType) {
            case 'video':
                sfvModal.toggle();
                $('#singlefileVideoModal #an-video source').attr('src', fileAddr + '/uploads/' + dataFile)
                $('#singlefileVideoModal #an-video')[0].load();
                $('#singlefileVideoModal #briefcase-button-sfv').attr('onClick', `addToBriefCase('${dataFile}','${annName}')`);
                break;
            case 'image':
                sfiModal.toggle();
                $('#singlefileImageModal #an-img').attr('src', fileAddr + '/uploads/' + dataFile)
                $('#singlefileImageModal #briefcase-button-sfi').attr('onClick', `addToBriefCase('${dataFile}', '${annName}')`);
                break;
            case 'application':
                pdfModal.toggle();
                $('#pdfModal #pdf-embed').attr('src', fileAddr + '/uploads/' + dataFile)
                $('#pdfModal #briefcase-button-pdf').attr('onClick', `addToBriefCase('${dataFile}', '${annName}')`);
                break;
            case 'slider':
                sliderModal.toggle();
                $('#sliderModal #sliderCarousel .carousel-inner').html('');
                dataFile.forEach((content, index) => {
                    $('#sliderModal #sliderCarousel .carousel-inner').append(`<div id="carousel-item-${index + 1}" class="carousel-item"><button onClick="addToBriefCase('${content}', '${annName}')" class="briefcase-button-slider elips-button float-end mb-3">Add to Briefcase<span data-feather="briefcase"></span></button><img src="${fileAddr + '/uploads/' + content}" class="d-block w-100" alt=""></div>`);
                })
                $('#sliderModal #sliderCarousel .carousel-inner .carousel-item:nth-child(1)').addClass('active');
                break;
            case 'feedbackform':
                feedbackFormModal.toggle();
                $('#feedbackFormModal #boothid').val(dataBoothid);
                break;
            case 'external_url':
                window.open(dataFile);
                break;
        }
    });
}

window.addEventListener('message', (event) => {
    showAnn(event.data)
});

function opacityFadeOut(elm) {
    let intervalTimer = setInterval(() => {
        $(elm).css('opacity', '0');
        $(elm).css('display', 'none');
        clearTimeout(intervalTimer);
    }, 4000);
}

function addToBriefCase(fileurl, annName) {
    fetch('/virtual/briefcase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('synnex-jwt')
            },
            body: JSON.stringify({
                email: localStorage.getItem('synnex-user'),
                briefcase: fileurl,
                name: annName
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                $('#alert-warning').css('display', 'block');
                $('#alert-warning').css('opacity', '1');
                $('#alert-warning strong').text(data.message)
                opacityFadeOut('#alert-warning');
            } else {
                $('#alert-success').css('display', 'block');
                $('#alert-success').css('opacity', '1');
                $('#alert-success strong').text('Briefcase Added.')
                opacityFadeOut('#alert-success');
            }
            console.log(data)
        })
        .catch(error => {
            console.log(error)
        })
}

function sendFeedback() {
    fetch('/virtual/feedback', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('synnex-jwt')
            },
            body: JSON.stringify({
                email: localStorage.getItem('synnex-user'),
                company: $('#feedbackCompany').val(),
                city: $('#feedbackCity').val(),
                message: $('#feedbackMessage').val(),
                boothid: $('#boothid').val()
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                $('#alert-warning').css('display', 'block');
                $('#alert-warning').css('opacity', '1');
                $('#alert-warning strong').text(data.message)
                opacityFadeOut('#alert-warning');
            } else {
                $('#alert-success').css('display', 'block');
                $('#alert-success').css('opacity', '1');
                $('#alert-success strong').text('Feedback Sent.')
                opacityFadeOut('#alert-success');
            }
            feedbackFormModal.hide();
            console.log(data);
        })
        .catch(error => {
            console.log(error)
        })

}

function skipIntro() {
    introModal.hide();
    $('#introModal video').get(0).pause();
}

const introModalEvent = $('#introModal').get(0);
introModalEvent.addEventListener('hidden.bs.modal', function(event) {
    localStorage.setItem('synnex-watched-intro', true);
})

const modalSlider = document.getElementById('sliderCarousel')
modalSlider.addEventListener('slid.bs.carousel', function(event) {
    let currentId = $('#sliderCarousel .carousel-inner > .active').attr('id');

})

const sfvModalEvent = $('#singlefileVideoModal').get(0);
sfvModalEvent.addEventListener('hide.bs.modal', function(event) {
    $('#singlefileVideoModal video').get(0).pause();
})
</script>