<iframe src="3d/index.html" frameborder="0" style="width:100vw;height:100vh;"></iframe>
<!-- Button trigger modal -->
<div id="profileNav">
    <div id="profile-bar" class="d-flex flex-row">
        <a href="#">
            <img src="/svg/speakersvg.svg" width="50px">
        </a>
        <div class="separator"></div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#briefcaseModal" onClick="loadBriefcase()">
            <img src="/svg/briefcaseicon.svg" alt="">
        </a>
    </div>
    <div class="profile-photo">
        <img src="/svg/profileexample.svg" width="50px">
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="briefcaseModal" tabindex="-1" aria-labelledby="briefcaseModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div id="briefcase-profile">
                    <div class="d-flex flex-row">
                        <div class="profile-photo">
                            <img src="/svg/profileexample.svg" alt="">
                        </div>
                        <div class="profile-text">
                            <div class="profile-name big-title">Mufti Abdila</div>
                            <div class="profile-signout"><a href="#"><span data-feather="log-out"></span>Sign Out</a></div>
                        </div>
                    </div>
                </div>
                <div id="briefcase-title" class="big-title">My Briefcase</div>
                <br>
                <div class="row" id="briefcase-rows">
                	<!--
                    <div class="col-lg-3">
                        <div class="briefcase-card">
                            <img src="/svg/briefcaseexample.svg" alt="">
                            <div class="briefcase-desc">
                                <div class="briefcase-text"><a href="#"><span data-feather="image"></span>No Wire. No limit.</a></div>
                                <div class="briefcase-text"><a href="#" download><span data-feather="download"></span>Download</a></div>
                            </div>
                        </div>
                    </div>
                	-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="singlefileModal" tabindex="-1" aria-labelledby="singlefileModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">VIDEOS</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <video id="an-video" width="100%" controls>
                    <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
<script>
let briefCaseArr = [];

function renderBriefcase(briefcase){
	$('#briefcaseModal #briefcase-rows').html('')
	briefcase.forEach(bc => {
		let addr = 'http://52.74.109.241:3000/uploads/' + bc;
		$('#briefcaseModal #briefcase-rows').append('<div class="col-lg-3"><div class="briefcase-card"><img src="/svg/briefcaseexample.svg" alt=""><div class="briefcase-desc"><div class="briefcase-text"><a href="#"><span data-feather="image"></span>No Wire. No limit.</a></div><div class="briefcase-text"><a href="'+addr+'" download><span data-feather="download"></span>Download</a></div></div></div></div>')
	})
}

function loadBriefcase(){
	fetch('/virtual/getbriefcase', {
  		method: 'POST',
  		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({
			email: 'a.pranasakti@gmail.com',
		})
  	})
  	.then(response => response.json())
	.then(data => {
		briefCaseArr = data[0].briefcase;
		renderBriefcase(briefCaseArr)
	})
	.catch(err => console.log(err))
}

const anModal = new bootstrap.Modal(document.getElementById('singlefileModal'));

function showAnn(an) {
    switch (an) {
        case 'an_asus_1':
            anModal.toggle();
            $('#singlefileModal #an-video source').attr('src', 'http://52.74.109.241:3000/uploads/35eba2fc-c425-4843-82aa-9bda6b2f9bf9-4.mp4')
            $('#singlefileModal #an-video')[0].load();

            $('#singlefileModal #briefcase-button').attr('onClick', "addToBriefCase('35eba2fc-c425-4843-82aa-9bda6b2f9bf9-4.mp4')");
            break;
    }
}

window.addEventListener('message', (event) => {
    showAnn(event.data)
});

function addToBriefCase(fileurl){
	fetch('/virtual/briefcase', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({
			email: 'a.pranasakti@gmail.com',
			briefcase: fileurl
		})
	})
	.then(response => console.log(response))
	.catch(error => console.log(error))
}

anModal.hide();
</script>