<iframe src="3d/index.html" frameborder="0" style="width:100vw;height:100vh;"></iframe>
<!-- Button trigger modal -->
<div id="profileNav">
    <div id="profile-bar" class="d-flex flex-row">
        <a href="#">
            <img src="/svg/speakersvg.svg" width="50px">
        </a>
        <div class="separator"></div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#briefcaseModal" onClick="loadBriefcase()">
            <img src="/svg/briefcaseicon.svg" alt="">
        </a>
    </div>
    <div class="profile-photo">
        <img src="/svg/profileexample.svg" width="50px">
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="briefcaseModal" tabindex="-1" aria-labelledby="briefcaseModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div id="briefcase-profile">
                    <div class="d-flex flex-row">
                        <div class="profile-photo">
                            <img src="/svg/profileexample.svg" alt="">
                        </div>
                        <div class="profile-text">
                            <div class="profile-name big-title">Mufti Abdila</div>
                            <div class="profile-signout"><a href="#"><span data-feather="log-out"></span>Sign Out</a></div>
                        </div>
                    </div>
                </div>
                <div id="briefcase-title" class="big-title">My Briefcase</div>
                <br>
                <div class="row" id="briefcase-rows">
                    <!--
                    <div class="col-lg-3">
                        <div class="briefcase-card">
                            <img src="/svg/briefcaseexample.svg" alt="">
                            <div class="briefcase-desc">
                                <div class="briefcase-text"><a href="#"><span data-feather="image"></span>No Wire. No limit.</a></div>
                                <div class="briefcase-text"><a href="#" download><span data-feather="download"></span>Download</a></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="singlefileVideoModal" tabindex="-1" aria-labelledby="singlefileVideoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">VIDEOS</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button-sfv" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <video id="an-video" width="100%" controls>
                    <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="singlefileImageModal" tabindex="-1" aria-labelledby="singlefileImageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">VIDEOS</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button-sfi" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <img id="an-img" src="" alt="">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">PDF</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="briefcase-button-pdf" class="elips-button float-end mb-3">
                    Add to Briefcase
                    <span data-feather="briefcase"></span>
                </button>
                <embed id="pdf-embed" src="" type="application/pdf" width="100%" height="500px">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sliderModal" tabindex="-1" aria-labelledby="sliderModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="big-title">SLIDER</div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="sliderCarousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false"> 
                    <div class="carousel-inner">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alert-success" class="virtual-alert alert alert-success alert-dismissible fade show" role="alert">
    <strong>Briefcase Added!</strong>
    <button type="button" class="btn-close" onClick="alertClose('success')"></button>
</div>
<div id="alert-warning" class="virtual-alert alert alert-warning alert-dismissible fade show" role="alert">
    <strong>This briefcase is added before.</strong>
    <button type="button" class="btn-close" onClick="alertClose('warning')"></button>
</div>
<script>
let briefCaseArr = [];
let fileAddr = '<% fileAddr %>';

function alertClose(al) {
    switch (al) {
        case 'success':
            $('#alert-success').css('opacity', '0');
            $('#alert-success').css('display', 'none');
            break;
        case 'warning':
            $('#alert-warning').css('opacity', '0');
            $('#alert-warning').css('display', 'none');
            break;
    }
}

function renderBriefcase(briefcase) {
    $('#briefcaseModal #briefcase-rows').html('')
    briefcase.forEach(bc => {
        let addr = fileAddr + '/uploads/' + bc.file;
        const extensionRegex = /(?:\.([^.]+))?$/;
        let getExt = extensionRegex.exec(bc.file)[1].toLowerCase();
        let fileThumbnail = '';
        switch(getExt){
            case 'pdf':
            fileThumbnail = `<img src="/img/pdfthumb.png" alt="">`;
            break;
            case 'mp4' || 'wav' || 'mov' || 'avi' || 'wmv' || 'webm' || 'mp2' || 'mpg' || 'mpeg' || 'mpv' || 'mpe' || 'm4p' || 'm4v':
            fileThumbnail = `<img src="/img/videothumbnail.png" alt="">`;
            break;
            case 'png' || 'jpg' || 'jpeg' || 'gif' || 'tif' || 'tiff' || 'bmp' || 'eps' || 'jfif':
            fileThumbnail = `<img src="${addr}" alt="">`;
            break;
            default:
            fileThumbnail = `<img src="${addr}" alt="">`;
            break;
        }
        $('#briefcaseModal #briefcase-rows').append(`<div class="col-lg-3"><div class="briefcase-card">${fileThumbnail}<div class="briefcase-desc"><div class="briefcase-text"><a href="#"><span data-feather="image"></span>${bc.name}</a></div><div class="briefcase-text"><a href="${addr}" download><span data-feather="download"></span>Download</a></div></div></div></div>`)
        feather.replace()
    })
}

function loadBriefcase() {
    fetch('/virtual/getbriefcase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: 'a.pranasakti@gmail.com',
            })
        })
        .then(response => response.json())
        .then(data => {
            briefCaseArr = data[0].briefcase;
            renderBriefcase(briefCaseArr)
        })
        .catch(err => console.log(err))
}

const sfvModal = new bootstrap.Modal(document.getElementById('singlefileVideoModal'));
const sfiModal = new bootstrap.Modal(document.getElementById('singlefileImageModal'));
const pdfModal = new bootstrap.Modal(document.getElementById('pdfModal'));
const sliderModal = new bootstrap.Modal(document.getElementById('sliderModal'));

function getData(booth, annotation, cb) {
    fetch('/virtual/getAnnotation/' + booth + '/' + annotation, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            cb(data)
        })
        .catch(err => console.log(err))
}

function showAnn(an) {
    let parsedArr = an.split('_');
    let filetype = parsedArr[0];
    let booth = parsedArr[1];
    let annotation = parsedArr[2];

    getData(booth, annotation, (data) => {
        switch (filetype) {
            case 'sfv':
                sfvModal.toggle();
                let dataFile = data[0].content.filename;
                let annVideoName = data[0].name;
                $('#singlefileVideoModal #an-video source').attr('src', fileAddr + '/uploads/' + dataFile)
                $('#singlefileVideoModal #an-video')[0].load();
                $('#singlefileVideoModal #briefcase-button-sfv').attr('onClick', `addToBriefCase('${dataFile}','${annVideoName}')`);
                break;
            case 'sfi':
                sfiModal.toggle();
                let dataImageFile = data[0].content.filename;
                let annImageName = data[0].name;
                $('#singlefileImageModal #an-img').attr('src', fileAddr + '/uploads/' + dataImageFile)
                $('#singlefileImageModal #briefcase-button-sfi').attr('onClick', `addToBriefCase('${dataImageFile}', '${annImageName}')`);
                break;
            case 'pdf':
                pdfModal.toggle();
                let dataPdf = data[0].content.filename;
                let annPdfName = data[0].name;
                $('#pdfModal #pdf-embed').attr('src', fileAddr + '/uploads/' + dataPdf)
                $('#pdfModal #briefcase-button-pdf').attr('onClick', `addToBriefCase('${dataPdf}', '${annPdfName}')`);
                break;
            case 'sld':
                sliderModal.toggle();
                let dataSlider = data[0].content.filename;
                let annSliderName = data[0].name;
                $('#sliderModal #sliderCarousel .carousel-inner').html('');
                dataSlider.forEach((content, index) => {
                    $('#sliderModal #sliderCarousel .carousel-inner').append(`<div id="carousel-item-${index + 1}" class="carousel-item"><button onClick="addToBriefCase('${content}', '${annSliderName}')" class="briefcase-button-slider elips-button float-end mb-3">Add to Briefcase<span data-feather="briefcase"></span></button><img src="${fileAddr + '/uploads/' + content}" class="d-block w-100" alt=""></div>`);
                })

                $('#sliderModal #sliderCarousel .carousel-inner .carousel-item:nth-child(1)').addClass('active');
            break;
        }
    });
}

window.addEventListener('message', (event) => {
    showAnn(event.data)
});

function opacityFadeOut(elm) {
    let intervalTimer = setInterval(() => {
        $(elm).css('opacity', '0');
        $(elm).css('display', 'none');
        clearTimeout(intervalTimer);
        console.log('timer cycling')
    }, 4000);  
}

function addToBriefCase(fileurl, annName) {
    fetch('/virtual/briefcase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: 'a.pranasakti@gmail.com',
                briefcase: fileurl,
                name: annName
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                $('#alert-warning').css('display', 'block');
                $('#alert-warning').css('opacity', '1');
                opacityFadeOut('#alert-warning');
            } else {
                $('#alert-success').css('display', 'block');
                $('#alert-success').css('opacity', '1');
                opacityFadeOut('#alert-success');
            }
            console.log(data)
        })
        .catch(error => {
            console.log(error)
        })
}

var modalSlider = document.getElementById('sliderCarousel')
modalSlider.addEventListener('slid.bs.carousel', function (event) {
  let currentId = $('#sliderCarousel .carousel-inner > .active').attr('id');

})

</script>